* {text-transform: uppercase;}
div.logo {
    margin: 30px auto 40px;
    text-align: center;
}
div.logo>img { width: 300px;}

span{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 2px;
}

button{
    border: none;
    background: none;   
    transition: 0.4s all ease-out;
}

button:hover{text-shadow: 1px 1px 1px #a4a7ab;}

.wrapper{background: #f5f6f7;}
.back-panel {
    padding: 65px 0;
    margin: 0 auto;
}

i {margin-right: 30px;}

.product-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-name>div{
    width: 80%;
    margin-bottom: 62px;
    border-bottom: 1px solid grey;
}

.product-name>p{
    font-size: 20px;
    margin: 50px 10px 50px 0;
}

.product-item {
    border: 5px solid #aa9b77;
    display: flex;
    padding: 20px;
    max-height: 1020px;
    max-width: 1230px;
    margin: 0 auto 80px;
}

table{
    border-spacing: 40px 10px;
    border-collapse: separate;
}

td:first-child{text-align: right;}

img:not(div.logo>img) {height: 708px;}

