p, p+div { display: inline-block;}

p+div{
    border: 0.05em solid black;
    width: 90%;
    vertical-align: middle;
    margin: auto 10px;
}

.products-panel {
    display: flex;
    flex-direction: column;
}

.products-container{
    display: flex;
    flex-direction: row;
}

#container {
    width: 100%;
    padding: 0;
}

.slides-wrapper {
    margin: 0 auto;
    position: relative;
}

i { 
    font-size: 30px;
    color: #aa9b77;
    cursor: pointer;
}