
.type+div{
    width: 100%;
    margin-bottom: 62px;
    border-bottom: 1px solid grey;
}

.type{
    font-size: 20px;
    margin: 50px 0;
}

section>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section>div.odd {
    flex-direction: row-reverse;
}
section>div.odd>p{
    margin-left: 10px;
}
section>div.even>p{
    margin-right: 10px;
}

.products-panel {
    display: flex;
    flex-direction: column;
}

.products-container{
    display: flex;
    flex-direction: row;
}

#container {
    width: 100%;
    padding: 0;
}

.slides-wrapper {
    margin: 0 auto;
    position: relative;
}

i { 
    font-size: 30px;
    color: #aa9b77;
    cursor: pointer;
}

.items-counter {
    text-align: right;
    font-size: 18px;
    color: #aa9b77;

}



